<div class="col s12">
    <form id="create-employee-form" {{action 'createEmployeeSubmit' employee}} >
        {{md-input label='Name' class="col s12" value=employee.name validate=true}}
        {{md-input label='Email' type="email" class="col s12" value=employee.email validate=true}}
        {{md-select label="Manager"
            class="col s12"
            prompt="Select Manager"
            value=employee.managerId
            content=model.employeeList.content
            optionLabelPath="content.name"
            optionValuePath="content.id"}}
        {{md-btn text='Submit'
            buttonType='large'
            type='submit'
            class='deep-orange darken-2 white-text'}}
    </form>
</div>
{{!-- {{#each model.employeeList.content as |employee|}}
    <li>{{employee.name}}</li>
{{/each}} --}}
{{yield}}