<div class="row">
    <div class="col s12">
        <div class="col s12"><h5>{{fa-icon "star"}}</h5></div>
        <head>
    <style>
    table{border-collapse: collapse;
    	    align: center;
          }
    th,td{
      border: 1px solid;
    }
</style>
</head>
<h3><center>Login as</center></h3>
        <table>
        	<th>NAME</th>
        	<th>submit</th>
        	{{#each model.employeeList as |employee| }}
        	{{!-- <tr><td><div onclick={{action 'setUuid' employee.[1]}} >{{employee.[0]}}</div></td></tr> --}}
        	{{!-- <div {{action process employee.id}} >{{employee.name}}</div> --}}
        	{{!-- {{#link-to 'dashboard' }}
                <tr><td><center>{{t.[0]}}</center></td></tr>
            {{/link-to}} --}}
              <tr>
              	<td>{{employee.name}}</td>
              	{{#link-to 'dashboard' employee.id}}
              	<td><center><button class='confirm-login' {{action "setUuid" employee.id}}>login</button></center></td>
              	{{/link-to}}
              </tr>
            {{/each}}
         </table>
</div>
</div>
{{yield}}