<div class="row">
{{#md-navbar name='Oncall Management System' class='indigo'}}
  <!-- A workaround to get the "active" class
    to apply to the active <li> automatically -->
{{!--   {{#link-to 'navbar' tagName='li'}}
    {{link-to 'Navbar' 'navbar'}}
  {{/link-to}}
  {{#link-to 'tabs' tagName='li'}}
    {{link-to 'Tabs' 'tabs'}}
  {{/link-to}} --}}
{{/md-navbar}}
</div>
<div class="container">
	<div class="col s12" id="button-bar">
		<h3><center>Select one option:</center></h3>
		<center>
		{{#link-to 'admin'}}
			{{md-btn text='ADMIN' class='deep-orange darken-2 white-text'}}
		{{/link-to}}
		{{#link-to 'login'}}
			{{md-btn text='User-login' class='deep-orange darken-2 white-text'}}
		{{/link-to}}
	</center>
		{{!-- {{#link-to 'create-ticket'}}
			{{md-btn text='Create Ticket' class='deep-orange darken-2 white-text'}}
		{{/link-to}}
		{{#link-to 'create-log'}}
			{{md-btn text='Create Log' class='deep-orange darken-2 white-text'}}
		{{/link-to}} --}}


	</div>
	<div class="col s12" id="main-container">
	
	</div>
</div>
		{{outlet}}
